@font-face {
    font-family: retroFont;
    src: url(/fonts/RetroGaming.ttf);
}

.full-height {
    height: 100%;
    min-height: 100%;
}

.titol {
    font-family: retroFont;
    font-size: 60;
}

.retroFont {
    font-family: retroFont;
}

.rank {
    display: inline;
}

.adminClass {
    color: green;
}

.backbutton {
    display: inline-block;
    cursor: pointer;
    height: 5%;
    width: 5%;
    margin-right: 80%;
    margin-top: 60%;
}
